<div class="box-demo tugel">
<div class="inner-panel">
<div class="cog-panel" id="demo-panel"><i class="fa fa-cog fa-spin"></i></div>
<p class="text-muted small text-center">35 COLOR SCHEMES</p>
<div class="row text-center">


    <div class="col-xs-3" ng-repeat="item in data">
        <color-schemes-content></color-schemes-content>
    </div>


</div>
<button class="btn btn-block btn-primary btn-sm" id="btn-reset">Reset to default</button>
<a href="" class="btn btn-block btn-danger btn-sm" id="btn-reset1"><i class="fa fa-shopping-cart"></i> Buy this template</a>
</div>
</div>