<div class="the-box full no-border item-lg">
    <div id="store-item-carousel-2" class="owl-carousel owl-theme" style="display: block">

        <div class="owl-wrapper-outer">
            <mc-carousel mc-data="data.images" mc-items="1"></mc-carousel>
        </div>
        <!--</div>-->
        <div class="item-des">
            <div class="the-box transparent no-margin">
                <h4 class="small-heading more-margin-bottom">{{title}}</h4>

                <h1><a href="#fakelink">{{data.name}}</a></h1>
                <h4 class="bolded">{{data.price | currency}}</h4>

                <p class="text-muted item-des-text">
                    {{data.content}}
                </p>

                <p>
                    <mc-rating st-max="5" st-star="{{data.star}}"></mc-rating>
                </p>
                <button class="btn btn-success btn-block btn-add">Add to cart</button>
            </div>
            <!-- /.the-box .transparent .no-margin -->
        </div>
        <!-- /.item-des -->
    </div>
</div>