<div id="st-friend-requests" class="the-box no-border">
    <div class="media user-card-sm">
        <a class="pull-left" href="#fakelink">
            <img class="media-object img-circle"
                 ng-src="{{data.avatar}}" alt="Avatar">
        </a>

        <div class="media-body">
            <h4 class="media-heading">{{data.name}}</h4>

            <p class="text-success">{{data.email}}l</p>
        </div>
        <div class="right-button">
            <button data-toggle="tooltip" title="Accepted" class="btn btn-success active"><i
                    class="fa fa-check"></i>
            </button>
        </div>
    </div>
</div>