<div class="the-box bg-warning no-border full">
    <div id="tiles-slide-2" class="owl-carousel tiles-carousel">
        <div class="item full">
            <img src="images/avatar/avatar-1.jpg" class="avatar img-circle has-white-shadow" alt="avatar">

            <div class="des">
                <h4 class="bolded"><a href="#fakelink">Awesome headline news title</a></h4>

                <p class="small">02 MAY, 2014</p>

                <p class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            </div>
            <img src="images/medium/img-14.jpg" alt="Image">
        </div>
        <!-- /.item full -->
        <div class="item full">
            <img src="images/avatar/avatar-2.jpg" class="avatar img-circle has-white-shadow" alt="avatar">

            <div class="des">
                <h4 class="bolded"><a href="#fakelink">Awesome headline news title</a></h4>

                <p class="small">01 MAY, 2014</p>

                <p class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            </div>
            <img src="images/medium/img-12.jpg" alt="Image">
        </div>
        <!-- /.item full -->
        <div class="item full">
            <img src="images/avatar/avatar-3.jpg" class="avatar img-circle has-white-shadow" alt="avatar">

            <div class="des">
                <h4 class="bolded"><a href="#fakelink">Awesome headline news title</a></h4>

                <p class="small">29 APRIL, 2014</p>

                <p class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            </div>
            <img src="images/medium/img-13.jpg" alt="Image">
        </div>
        <!-- /.item full -->
    </div>
    <!-- /#tiles-slide-2 -->
</div><!-- /.the-box no-border full -->
