<div class="the-box no-border full text-center">
    <div class="the-box no-border no-margin" id="box-weather4">
        <!--<div class="skycons"></div>-->
        <canvas id="{{skycon}}" width="140" height="140"></canvas>
        <h1 class="bolded less-distance">{{item.temperature}}<i class="wi-degrees"></i></h1>
        <h4>{{item.status}}</h4>
    </div>
    <!-- /.the-box no-border bg-warning no-margin -->
    <div class="the-box no-border no-margin">
        <h4 class="bolded less-distance">{{item.country}}</h4>

        <p class="small text-muted">{{item.opinion}}</p>
    </div>
    <!-- /.the-box no-border no-margin -->
</div>