<div class="row">
    <div class="col-lg-8">

        <!-- BEGIN CHART WIDGET 1 -->
        <main-chart-widget st-data="morrisChart"></main-chart-widget>
        <!-- END CHART WIDGET 1 -->

        <hr>
        <div class="row">
            <div class="col-sm-6">
                <!-- BEGIN PROPERTY CARD -->
                <property-card st-list="specicalOffers" st-title="Specical offers"></property-card>
                <!-- END PROPERTY CARD -->
            </div>
            <!-- /.col-sm-6 -->
            <div class="col-sm-6">
                <!-- BEGIN TASK LIST -->
                <mc-task-list st-list="taskList" st-title="Your current tasks"></mc-task-list>
                <!-- END TASK LIST -->
            </div>
            <!-- /.col-sm-6 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-sm-8 -->
    <div class="col-lg-4">
        <!-- BEGIN WEATHER WIDGET 2 -->
        <weather-widget st-today="weatherToday" st-tomorow="weatherTomorow"></weather-widget>
        <!-- END WEATHER WIDGET 2 -->

        <!-- BEGIN SOCIAL TILES -->
        <div mc-socical st-data="followers" class="row"></div>

        <!-- /.row -->
        <!-- END SOCIAL TILES -->

        <!--BEGIN FRIEND REQUESTS-->
        <friend-requests st-title="Friend requests" st-list="friendRequests"></friend-requests>
        <!--END FRIEND REQUESTS-->
    </div>
    <!-- /.col-sm-4 -->
</div>