<div class="the-box no-border full" style="height: 484px;background-color: #E9573F;">
    <div class="the-box bg-dark no-border no-margin">
        <p class="text-center">
            <span class="fa fa-calendar icon-lg"></span>
        </p>
        <h4 class="bolded less-distance text-danger text-center">{{title}}</h4>
    </div>
    <!-- /.the-box no-border no-margin -->
    <div class="the-box no-border bg-danger no-margin">
        <h4>{{data.title}}</h4>
        <hr>
        <div id="tiles-slide-1" class="owl-carousel my-reminder" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
                <div id="owl-reminder" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="item full text-left">
                            <p>
                                Eating some sand and listening alay songs in the small hole under bridge
                            </p>

                            <p>Wrote 2 days ago</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item full text-left">
                            <p>
                                Eating some sand and listening alay songs in the small hole under bridge
                            </p>

                            <p>Wrote 2 days ago</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item full text-left">
                            <p>
                                Eating some sand and listening alay songs in the small hole under bridge
                            </p>

                            <p>Wrote 2 days ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#tiles-slide-1 -->
    </div>
    <!-- /.the-box no-border bg-danger no-margin -->
</div>