<ul class="nav navbar-nav navbar-left">
    <!-- Begin nav notification -->

    <li mc-notification class="dropdown" st-data="notifications" st-title="Notification"
        st-icon="fa-bell" st-badge="badge-danger"></li>
    <!-- End nav notification -->

    <!-- Begin nav task -->
    <li mc-notification class="dropdown" st-data="tasks" st-title="Task" st-icon="fa-tasks"
        st-badge="badge-warning"></li>
    <!-- End nav task -->

    <!-- Begin nav message -->
    <li mc-notification class="dropdown" st-data="messages" st-title="Messages"
        st-icon="fa-envelope" st-badge="badge-success"></li>
    <!-- End nav message -->

    <!-- Begin nav friend requuest -->
    <li mc-notification class="dropdown" st-data="friendRequests" st-title="Friend requests"
        st-icon="fa-users" st-badge="badge-info"></li>
    <!-- End nav friend requuest -->
</ul>