.logo-brand{
     background: #242A34;
 }
.top-nav-content{
    background: #ffffff;
}
.top-navbar{

}
.sidebar-menu{
    background: #313940;
}
.dropdown-toggle{

}
.btn-collapse-sidebar-right{

}
.sidebar-menu li a{
    border-bottom-color: #2C3439;
}