.logo-brand{
    background: #34BC9B !important;
}
.top-nav-content{
    background: #ffffff !important;
}
.top-navbar{

}
.sidebar-menu{
    background: #34BC9B !important;
}

.sidebar-left-content{
    color: #C6FFF1 !important;
    border-bottom-color: #28AA8B !important;
}
