.logo-brand{
    background: #3EAFDB;
}
.top-nav-content{
    background: #ffffff;
}
.top-navbar{

}
.sidebar-menu{
    background: #ffffff;
}
.dropdown-toggle{

}
.btn-collapse-sidebar-right{

}
.sidebar-left-content{
    color: #656D78 !important;
    border-bottom-color: #F6F7F9 !important;
}
